#bag {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background: url(punchbag.png) center no-repeat;
    background-size: 80%;
}

#bag.burst {
    background: url(punchbag2.png) center no-repeat;
    background-size: 80%;
}

#bag-health {
    height: 30px;
    width: 200px;
    border: 2px solid #000;
    margin: 0 auto 20px auto;
}

#bag-health div {
    height: 30px;
    background: crimson;
}

#controls {
    width: 120px;
    margin: 0 auto;
}